body {
  font-size: 14pt;
  text-align: center;
}

form {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: solid 1px #000000;
  margin: auto;
  background: #88e0e8;
}

input[type=textfield] {
  width: 75%;
  padding: 16px 32px;
  font-size: 30px;
  margin: 8px;
  border: 1px solid silver;
  border-radius: 1px;
  text-align: left;
  color: #000000;
  background: #b0e0e8;

}

input[type=button],
input[type=sumit],
input[type=reset] {
  background-color: #68d0d8;
  border: none;
  color: 004048;
  padding: 16px 32px;
  font-size: 16px;
  min-width: 21%;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

}